name: build

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    compilation_check:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v2
            - name: make
              run: make build
